# Python
venv/
__pycache__/
*.pyc
*.pyo

# Database
*.db

# YOLO model
*.pt

# Training results
runs/
0602output/
shop_detect_v2/

# Dataset
data/
data0602/
brownie/
twix/
gatorade_bottle/
shop/

# Frames
frames/

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Images
test.jpg

# VSCode
.vscode/

# Linux
*.swp
.DS_Store